<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static 'tests/images/logo.png' %}">
    <style>
        @font-face {
            font-family: 'MyCustomFont';
            src: url('{% static "tests/font/AvertaCyrillicBold.otf" %}') format('opentype');
        }

        @font-face {
            font-family: 'MyCustomFont2';
            src: url('{% static "tests/font/AvertaCyrillicRegular.otf" %}') format('opentype');
        }
    </style>
</head>
<body>
{% csrf_token %}

{% block content %}
{% endblock %}
</body>
</html>
